$border-radius: 25px;
$background-seccion_dos: #E6E5B2;
$background-seccion_tres: #F4F4F4;
$background-seccion_cuatro:#4E3B3C;
$footer: #352324;
$circle: #D9C37D;
$padding-bottom: 3em;
$color-orange: #DC6131; //#DC6231;
$font-weight: bold;
$p-top: 1em;